Make copied expression URL easy to read & edit

When a link is copied for an expression like `0 0 12 * */2 Mon`, the link reads as follows:

    https://ncrontab.swimburger.net/?expression=0%200%2012%20*%20*%2F2%20Mon

The `%20` makes it unreadable or difficult to hand-edit. Using `application/x-www-form-urlencoded` instead allows use of plus (`+`) to replace space; that combined with the fact that `/` and `*` don't need to be escaped in the query data per [Section 3.4 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.4), the expression in the URL becomes super friendly to read and edit:

    https://ncrontab.swimburger.net/?expression=0+0+12+*+*/2+Mon




This is a great suggestion. I'm not sure why the `/` is being escaped by `QueryHelpers.AddQueryString`.
I'll start with replacing spaces with + and then later see if I can work around '/'

> I'm not sure why the `/` is being escaped by `QueryHelpers.AddQueryString`.

I think it's because [they take an _intersection_ of what's safe for the various parts of an IRI](https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/libraries/System.Text.Encodings.Web/src/System/Text/Encodings/Web/UrlEncoder.cs#L79-L122).

I stopped using `QueryHelpers.AddQueryString` because it would encode '+' and '/' too.
The tool uses '+' as a separator when copying the URL now.